body {
  display: flex;
  /* justify-content: space-between; */
}

img {
  width: 100%;
  /* margin: 3em; */
  object-fit: contain;
  max-width: 80%;
}

.gallery {
  width: 100vw;
}

.gallery__header {
  font-size: 5em;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:papayawhip;
  color:seagreen;
}

.slider {
  display: flex;
  flex-direction: 'row';
  justify-content: space-between;
  width: 100%;
  height: 100vh;
}

.slider__chevron {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 3em;
  color:lightsteelblue;
  transition: 1s ease;
  opacity: .5;
  /* margin: 3em; */
}

.slider__chevron:hover {
  /* font-size: 6em; */
  color:lightslategrey;
  opacity: 1;
}

.slider__img {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
